#content-page-new-appoinment {
  background-color: #ececec;
  height: 100vh;
  padding-top: 60px;
}

#content-not-appoinment {
  height: 100vh;
}

#form-argend-service {
  background: #fff;
  width: 90%;
  padding: 20px 25px;
  margin: auto;
  border-radius: 20px;
}

#title-form-argend-service {
  font-size: 1.3rem;
  text-align: center;
  margin-bottom: 30px;
}

#btn-submit-form-argend-service {
  margin-top: 25px;
  cursor: pointer;
}

#btn-submit-form-argend-service:disabled {
  cursor: not-allowed;
  background-color: #6c757d; // cor mais escura desejada
  border-color: #6c757d; // cor da borda correspondente
}
