.form-add-new-appoinment {
  width: 90%;
  margin: 20px auto;
}

.div-type-atendence {
  margin-top: 35px;
}

.text-area-observation {
  width: 90%;
  height: fit-content;
}

.div-text-area-observation {
  margin-top: 35px;
}

#btn-submit-form {
  margin-top: 35px;
  float: right;
}