@import '../../global/index.scss';

.card-patient-container {
  padding: 20px 10px;
  background-color: $secondary-color;
  margin: 10px;
  border-radius: 20px;
}

.name-patient {
  font-size: 1.2rem;
  color: $color-white;
}

.content-info-patient span {
  display: block;
  color: $color-white;
}