.content-login-page {
  height: 100vh;
  background-color: #e0e0e0;
}

.login-form {
  padding: 30px 40px;
  background-color: #fff;
  border-radius: 20px;
}

.login-form-form-input {
  display: block;
  margin-top: 20px;
  border: 1 px solid black;
  border-radius: 10px;
  outline: none;
  padding: 7px 20px;
}

.login-form-form-text-error {
  color: red;
  margin-top: 7px;
}

.login-form-form-button {
  display: block;
  margin-top: 7px;
  border: none;
  outline: none;
  padding: 10px 20px;
  background-color: #4CAF50;
  color: #fff;
  cursor: pointer;
  border-radius: 5px;
}

.login-form-form-button:hover {
  background-color: #45a049;
}


.login-form-form-button:disabled {
  background-color: #cccccc;
  cursor: not-allowed;
}