.content-new-atendence-page.flex_center {
  flex-direction: column;
  padding: 10px;
}

.form-add-new-day-atendence {
  margin-top: 20px;
  border-radius: 20px;
  width: 100%;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
  padding: 30px 20px;
}