@import '../../global/index.scss';

.content-card-options-pages.flex_center {
  flex-direction: column;
  padding: 10px;
  border-radius: 20px;
}

.card-options-page-title {
  font-size: 0.8rem;
  text-align: center;
  color: #000;
  margin-top: 15px;
}

.icon-card-option-page {
  background-color: $tertiary-color;
  border-radius: 50%;
  padding: 10px;
}

.content-card-options-pages.flex_center.disabled {
  opacity: 0.6;
  pointer-events: none;
  background-color: $color-disabled;
  box-shadow: none;
}

.icon-calendar-home {
  color: $primary-color;
}