.content-faq-button.flex_center {
  position: fixed;
  bottom: 70px;
  right: 20px;
  z-index: 1000;
  flex-direction: column;
  gap: 10px;
}

.faq-button {
  border: 1px solid #000;
  background-color: transparent;
  padding: 10px;
  border-radius: 50%;
}