@import '../../global//index.scss';

.content-header.flex_center {
  background-color: $primary-color;
  padding: 10px 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  justify-content: space-between;
}

.title-header {
  font-size: 1.4rem;
  font-style: italic;
}

.header-img-profile {
  width: 50px;
  height: 50px;
  border: 1px solid white;
  border-radius: 50%;
}