$primary-color: #2296e4;
$secondary-color: rgb(67, 182, 202);
$tertiary-color: #d8e2ec;

$color-disabled: rgb(148, 148, 148);

$font-color-primary: #000000;
$font-color-secondary: #22358a;
$font-color-tertiary: #d8e2ec;
$font-color-quaternary: #ffffff;
$font-color-quinary: #ffffff;