$primary-color: #12d865;
$secondary-color: rgb(82, 178, 241);
$tertiary-color: #eeeeee;

$color-disabled: rgb(206, 206, 206);

$font-color-primary: #000000;
$font-color-secondary: #22358a;
$font-color-tertiary: #d8e2ec;
$font-color-quaternary: #ffffff;
$font-color-quinary: #ffffff;

$color-white: #ffffff;