$primary-color: #659dc2;
$secondary-color: rgb(105, 194, 201);


$font-color-primary: #000000;
$font-color-secondary: #22358a;
$font-color-tertiary: #ffffff;
$font-color-quaternary: #ffffff;
$font-color-quinary: #ffffff;