@import '../../global/index.scss';

.section-buttons-filter-of-complet {
  display: flex;
  justify-content: space-between;
  padding: 10px 20px
}

.section-buttons-filter-of-complet button {
  margin-right: 10px;
  background-color: $tertiary-color;
  flex: 1;
  border: none;
  border-bottom: 2px solid #ccc;
  border-radius: 5px;
  padding: 10px 7px;
}

.section-buttons-filter-of-complet button.button-filter-selected {
  border-bottom: 3px solid $primary-color;
}

.section-search {
  padding: 10px 20px;
}

.input-search {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 10px;
}



.section-not-appoiments {
  margin: 20% auto;
  text-align: center;
  font-style: italic;
  width: 70%;
}